*{
    box-sizing: border-box;
}

#container{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;   
}

header, nav, footer{
    width: 100%;
}

.header-container {
    position: relative;
    text-align: center;
    color: white;
    max-height: 100%;
    max-width: 100%;
    padding: 5rem;
}

.titlehead {
    font-size: 3rem;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
  }

#main-logo {
    background-image: url("../img/images.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    max-width: 100%;
}

.flex-menu {
    display: flex;
    list-style: none;
    flex-wrap: wrap; 
    gap: 1rem; 
    padding: 0; 
    margin: 0; 
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    padding: 1rem;
}

.flex-menu a {
    text-decoration: none; 
    color: #000; 
}

.flex-menu a:hover {
    text-decoration: underline;
    color: rgb(12, 85, 255);
}

header, nav, main, aside, footer{
    flex-grow: 1;
    padding: 1rem;
}


main{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    min-width: 500px;
    justify-content: space-between;
}

main article{
    width: 30%;
    min-width: 250px;
    flex-grow: 1;
    box-shadow: 5px 5px 5px
}

h2 {
    text-align: left;
    margin-bottom: 10px;
}


.article-title {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 0.5rem;
}

main a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

main a:hover{
    color: rgb(12, 85, 255);
    text-decoration: underline;
}

.google-semantikk {
    background-color: #000;
    color: white;
    padding: 0.5rem;
}

aside{
    width: 30%;
}

footer {
    background-color: #000;
    width: 100%;
    padding: 2rem;
    text-align: left;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
    color: white;
}

footer p {
    text-decoration: none;
    color: white;
}